.contenedor-file{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-items: center;
    width: 1500px;
    height: 100%;
    border: 3px solid rgb(0, 255, 255);
    box-shadow: 0 0 6px rgb(0, 255, 255), 0 0 12px rgb(0, 255, 255);
}
.archivo{
    width: 1200px;
    height: 500px;
}
.contenedor-file h1{
    font-size: 70px;
    text-shadow: 0 0 3px rgb(255, 0, 255), 0 0 6px rgb(255, 0, 255);
    color: rgb(240, 240, 240);
}
.archivo div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 430px;
    background-color: rgb(240, 240, 240);
    border: 3px solid rgb(240, 240, 240);
    border-radius: 30px;
}
.archivo div:hover{
    background-color: rgb(250, 250, 250);
}
.archivo div img{
    width: 100px;
    height: 100px;
}

.upload-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.upload-controls button {
    font-size: 24px;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 255, 255);
    color: #111;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 4px rgb(0, 255, 255);
    transition: all 0.2s ease;
}

.upload-controls button:hover {
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 10px rgb(0, 255, 255);
}

.upload-controls button:disabled {
    background-color: #555;
    color: #999;
    cursor: not-allowed;
    box-shadow: none;
}

.error-message {
    margin-top: 15px;
    font-size: 18px;
    color: rgb(255, 60, 60);
    font-weight: bold;
    text-shadow: 0 0 3px rgb(255, 60, 60);
}

.success-message {
    margin-top: 15px;
    font-size: 18px;
    color: rgb(60, 255, 60);
    font-weight: bold;
    text-shadow: 0 0 3px rgb(60, 255, 60);
}

.archivo div p {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
}