.divCrucigrama{
    display: grid;
    width: 800px;
    height: 700px;
}
.divPantallaC{
    display: flex;
    width: 99vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.contenedorCrucigrama {
    background-color: #D3D3D3; 
    padding: 10px;
    border-radius: 15px;
    max-height: 700px;
    max-width: 820px;
    overflow: auto;
    box-shadow: 0 0 6px rgba(0,0,0,0.2), 0 0 12px rgba(0,0,0,0.1);
}

.divLetraC{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5C5C5C;
    width: 40px;
    height: 18px;
    text-align: center;
    color: #0d0d0d;
    border: none;
    outline-style: none;
    font-family: 'Monomaniac One', sans-serif;
    font-size: 18px;
}
.liPalabraC{
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    list-style: none;
    border: solid rgb(0, 255, 255);
    box-shadow: 0 0 6px rgb(0, 255, 255), 0 0 12px rgb(0, 255, 255);
    border-radius: 15px;
    background-color: #5C5C5C;
}
.divMetadatosC{
    display: flex;
    border: solid;
    width: 700px;
    height: 70px;
    align-items: center;
    justify-content: center;
    border: solid rgb(0, 255, 255);
    box-shadow: 0 0 6px rgb(0, 255, 255), 0 0 12px rgb(0, 255, 255);
    border-radius: 15px;
    background-color: #5C5C5C;
}
.secundarioC{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 600px;
    gap: 20px;
}
.MdatoC{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}
.pistaC{
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 40px;
    color: #0d0d0d;
    border-radius: 10px;
    border: solid #39FF14;
    background-color: #C8FFC4;
}
.organizarI{
    display: flex;
    flex-direction: column;
    width: 45px;
    height: 45px;
    border: solid rgb(0, 255, 255);
    box-shadow: 0 0 6px rgb(0, 255, 255), 0 0 12px rgb(0, 255, 255);
    background-color: #5C5C5C
}
.organizarI:hover{
    border: solid rgb(0, 255, 255);
    box-shadow: 0 0 6px rgb(0, 255, 255), 0 0 12px rgb(0, 255, 255);
    background-color: #A3EEEE;
}
.organizarI:hover .divLetraC{
    background-color: #A3EEEE;
}
.Bcomprobar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border: solid #39FF14;
    background-color: #C8FFC4;
}
.Bcomprobar:hover{
    border: solid #39FF14;
    box-shadow:
    0 0 6px rgba(57, 255, 20, 0.7),
    0 0 12px rgba(57, 255, 20, 0.45),
    0 0 18px rgba(57, 255, 20, 0.3);
}
.incorrectaCru{
    background-color: #FF6A5E;
}
.incorrectaCru:hover{
    background-color: #FFB0AC;
}
.incorrectaCru:hover .divLetraC{
    background-color: #FFB0AC;
}