.containerTimer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    width: 500px;
    height: 500px;
    border: 3px solid rgb(0, 255, 255);
    box-shadow: 0 0 6px rgb(0, 255, 255), 0 0 12px rgb(0, 255, 255);
}
.containerView{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 500%;
}
.containerTimer h1{
    color: #39FF14;
    text-shadow: 0 0 6px #1A800A, 0 0 12px #1A800A;
}
.containerTimer button{
    background-color: rgb(216, 191, 255); 
    color: #1A1A1A;
    border: 2px solid rgb(138, 43, 226);
    border-radius: 8px;
}
.containerTimer button:hover {
    border: 2px solid rgb(138, 43, 226);
    color: #1A1A1A;
    box-shadow: 0 0 6px rgb(138, 43, 226), 0 0 12px rgb(138, 43, 226);
}
