@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');

/*
body {
  font-family: 'Monomaniac One', sans-serif; 
  background-color: rgb(66, 66, 66);
  color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
*/

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  width: 400px;
  border: 3px solid rgb(0, 255, 255);
  box-shadow: 0 0 6px rgb(0, 255, 255), 0 0 12px rgb(0, 255, 255);
}


.titulo {
  font-size: 60px;
  margin-bottom: 40px;
  font-weight: bold;
  text-shadow: 0 0 3px rgb(255, 0, 255), 0 0 6px rgb(255, 0, 255);
  color: rgb(240, 240, 240);
}
.input.usuario {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  background-color: rgb(66, 66, 66);
  color: rgb(245, 245, 245);
  text-align: center;
  border: 3px solid rgb(0, 255, 255);
}

.input.password {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  background-color: rgb(66, 66, 66); 
  color: rgb(245, 245, 245);
  text-align: center;
  border: 3px solid rgb(0, 255, 255);
}

.boton {
  background-color: rgb(216, 191, 255); 
  color: rgb(245, 245, 245);
  font-weight: bold;
  border: 2px solid rgb(138, 43, 226);
  padding: 12px;
  margin-top: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}
.boton:hover {
  border: 2px solid rgb(138, 43, 226);
  color: rgb(245, 245, 245);
  box-shadow: 0 0 6px rgb(138, 43, 226), 0 0 12px rgb(138, 43, 226);
}

.texto {
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
  text-shadow: 0 0 3px rgb(255, 0, 255), 0 0 6px rgb(255, 0, 255);
}

.link {
  color: rgb(216, 191, 255);
  text-shadow: 0 0 3px rgb(216, 191, 255), 0 0 6px rgb(216, 191, 255);
  text-decoration: none;
  font-weight: bold;
}
.link:hover {
  text-decoration: underline;
  color: rgb(138, 43, 226);
  text-shadow: 0 0 3px rgb(138, 43, 226), 0 0 6px rgb(138, 43, 226);
}
.texto .link {
  margin-left: 6px;
}