body {
  font-family: 'Monomaniac One', sans-serif; 
  background-color: rgb(66, 66, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contenedor-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-items: center;
    width: 1500px;
    height: 100%;
    border: 3px solid rgb(0, 255, 255);
    box-shadow: 0 0 6px rgb(0, 255, 255), 0 0 12px rgb(0, 255, 255);
}

.contenedor-home h1 {
    font-size: 70px;
    text-align: center;
    text-shadow: 0 0 3px rgb(255, 0, 255), 0 0 6px rgb(255, 0, 255);
    color: rgb(240, 240, 240);
}
.contenedor-home h3 {
    font-size: 35px;
    text-align: center;
    text-shadow: 0 0 3px rgb(255, 0, 255), 0 0 6px rgb(255, 0, 255);
    color: rgb(240, 240, 240);
}

.juegos{
    width: 1400px;
    height: 400px;
    display: flex;
    gap: 35px;
}
.juegos div{
    width: 410px;
    height: 335px;
    border-radius: 50px;
    border: 3px solid rgb(0, 255, 255);
    box-shadow: 0 0 6px rgb(0, 255, 255), 0 0 12px rgb(0, 255, 255);
}
.juegos div img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.juegos div:hover{
    transform: scale(1.1);
}